<<<<<<< HEAD
<div class="jumbotron text-center">
    <div class="container mt-4">
        <h1 class="display-4 text-center">
            <i class="fas fa-tv"></i> My<span class="text-primary">Watch</span>List
        </h1>
        <form id="watchlist" action="/list" method="POST">
            <div class="form-group form-inline mt-5">
                <label class="mr-2" for="title">Title</label>
                <input class="form-control mr-sm-2 w-50" type="text" name="title" id="title" required>
                <label class="mr-2" for="title">Type</label>
                <input class="form-control mr-sm-2 w-20" type="text" name="type" id="title" required>
                <button id="submit" type="submit" class="btn ml-sm-3 btn-primary">ADD</button>
            </div>
        </form>
    </div>
</div>
=======
<div class="jumbotron text-center">
    <div class="container mt-4">
        <h1 class="display-4 text-center">
            <i class="fas fa-tv"></i> My<span class="text-primary">Watch</span>List
        </h1>
        <form id="watchlist" action="/list" method="POST">
            <div class="form-group form-inline mt-5">
                <label class="mr-2" for="title">Title</label>
                <input class="form-control mr-sm-2 w-50" type="text" name="title" id="title" required>
                <label class="mr-2" for="title">Type</label>
                <input class="form-control mr-sm-2 w-20" type="text" name="type" id="title" required>
                <button id="submit" type="submit" class="btn ml-sm-3 btn-primary">ADD</button>
            </div>
        </form>
    </div>
</div>
>>>>>>> 69dcf7cd57e9128688be461bf20835f57a4b8422
