<div class="jumbotron text-center">
    <div class="container mt-4">
        <h1 class="display-4 text-center">
            <i class="fas fa-tv"></i> My<span class="text-primary">Watch</span>List
        </h1>
        <form id="watchlist" action="/list" method="POST">
            <div class="form-group form-inline mt-5">
                <label class="mr-2" for="title">Title</label>
                <input class="form-control mr-sm-2 w-50" type="text" name="title" id="title" required>
                    <div class="radio">
                        <input type="radio" name="type" class="" value="Film" required> Film
                        <input type="radio" name="type" class="" value="TV Show" required> TV show
                        <input type="radio" name="type" class="" value="Game" required> Game
                        <input type="radio" name="type" class="" value="Music" required> Music
                        <input type="radio" name="type" class="" value="Book" required> Book
                        <button id="submit" type="submit" class="btn ml-sm-3 btn-primary">ADD</button>
                    </div>          
            </div>
        </form>
    </div>
</div>
