{{#each media}}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Title:{{title}}</th>
                <th>Type:{{type}}</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="list"></tbody>
    </table>
{{else}}
    <p>No entries in database</p>
{{/each}}