<table class="table">
    <thead class="thead-light">
        <tr>
            <th style="width: 50vw">Title</th>
            <th style="width: 30vw">Type</th>
            <th style="width: 20vw">Action</th>
        </tr> 
    </thead>
    {{#each media}}
    <table class="table">
        <tbody id="list">
            <tr>
                <td style="width: 50%">{{title}}</td>
                <td style="width: 30%">{{type}}</td>
                <td style="width: 20%">
                    <a href="#"><i class="fas fa-trash mr-sm-2 delete"></i></a>
                    <a href="#"><i class="fas fa-star mr-sm-2"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</table>
    {{else}}
        <p>No entries in database</p>
    {{/each}}