/* custom style goes here */
/* IDEA: make list items selectable: when selected entry reveals action buttons */

button {
    border: 0;
    background: none;
    position: relative;
}

.flex {
    display: flex;
}

form i {
    position: absolute;
    left: -2px;
    bottom: 3px;
}

.table {
    margin-bottom: 0;
}

#list tr {
    padding: 0;
}

.active {
    text-shadow: 
        0px 0px 10px gold, 
        0px 0px 20px gold, 
        0px 0px 30px gold, 
        0px 0px 40px gold, 
        0px 0px 70px gold, 
        0px 0px 80px gold, 
        0px 0px 100px gold 
}

